<div class="homepage-container">
  <header class="header">
    <h1 class="title">Products</h1>
  </header>


  <section class="products-section">
    <div class="products-container">
      <div *ngFor="let product of products; trackBy: trackByProductId" class="product-card">
        <!-- <a [routerLink]="['/product', product.id]" class="product-link"> -->
          <a [routerLink]="['/details', product.id]">
          <img [src]="product.image" [alt]="product.name" class="product-image" loading="lazy">
          <h3 class="product-name">{{ product.name }}</h3>
        </a>
        <div class="product-details">
          <p class="product-price">₹{{ product.price }}</p>
          <p class="product-category">{{ product.category }}</p>
          <!-- <p class="product-stock">{{ product.stock }} left</p> -->
          <div class="product-footer">

            <button class="add-to-cart-button" (click)="addToCart(product)">
              <i class="fa fa-cart-plus"></i>
            </button>
            <button class="buy-button" (click)="buyNow(product)">
              <i class="fa fa-bolt"></i> Buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-contact-form></app-contact-form>
